/* Fonts import */
@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Global */
body {
	margin: 0;
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
}

p {
	color: hsl(236, 13%, 42%);
}

a {
	text-decoration: none;
}

section {
	margin: 50px 0px;
}

img {
	-webkit-user-select: none;
	user-select: none;
}

.image_full {
	display: block;
}
.image_mobile {
	display: none;
}

/* Common components */
.button {
	transition-duration: 0.2s;
	text-decoration: none;
	padding: 10px 30px;
	background-color: hsl(5, 85%, 63%);
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	width: -moz-fit-content;
	width: fit-content;
}

.button:hover, .button:active {
	background-color: hsl(240, 100%, 5%);
}

/* Container */
#container {
	margin: 100px auto;
	padding: 0px 15px;
	max-width: 1090px;
}

/* Header / Nav / Top menu */
header {
	width: 100%;
	display: flex;
	margin-top: 50px;
	height: 40px;
}

#header-logo {
	width: auto;
	height: auto;
}

nav {
	width: 100%;
	max-width: 460px;
	margin-left: auto;
}

#nav-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

#nav-list li {
	display: inline;
}

#nav-list li > a:hover, #nav-list li > a:active {
	transition-duration: 0.2s;
	color: hsl(5, 85%, 63%);
}

/* featured news */
#featured-news {
	display: flex;
	gap: 25px;
	justify-content: space-between;
}

#headline-container {
	width: 100%;
	max-width: 800px;
}

.headline-image {
	width: 100%;
	height: auto;
}

#headline-article {
	display: flex;
	gap: 10px;
}

#headline-title {
	font-weight: 800;
	font-size: 54px;
	line-height: 56px;
	margin-top: 20px;
	margin-bottom: 0;
}

#headline-read {
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#headline-content {
	margin: 0;
}

#news-container {
	width: 100%;
	max-width: 300px;
	background-color: hsl(240, 100%, 5%);
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}

#feeds-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
}

#news-container hr{
	width: 100%;
	margin: 0;
	border-color: hsl(236, 13%, 42%);
}

#news-title {
	color: hsl(35, 77%, 62%);
	margin: 0;
	margin-top: 30px;
	font-weight: 700;
	font-size: 40px;
}

.feed-title {
	transition-duration: 0.2s;
	margin: 12px 0px;
	color: hsl(36, 100%, 99%);
	font-weight: 700;
	font-size: 20px;
}

.feed-title:hover, .feed-title:active {
	color: hsl(35, 77%, 62%);
}

.feed-content {
	margin: 12px 0px;
	color: hsl(233, 8%, 79%);
}

/* Trend container */
#trend-container {
	display: flex;
	justify-content: space-between;
}

.trend-feed {
	display: flex;
	gap: 20px;
	height: 115px;
	width: 340px;
}

.trend-thumbnail {
	width: auto;
}

.trend-article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 95%;
}

.trend-article * {
	margin: 0;
}

.trend-rank {
	color: hsl(233, 8%, 79%);
	font-weight: 700;
	font-size: 30px;
}

.trend-title {
	transition-duration: 0.2s;
	color: hsl(240, 100%, 5%);
	font-weight: 800;
	font-size: 18px;
}

.trend-title:hover, .trend-title:active {
	color: hsl(5, 85%, 63%);
}

/* Responsive */
@media only screen and (max-width: 1100px) {
	#headline-article {
		display: block;
	}
	#headline-title {
		font-size: 32px;
		line-height: normal;
	}
	#headline-read {
		margin-top: 10px;
	}
	#headline-read > .button {
		margin-top: 20px;
	}
}
/* phones */
@media only screen and (max-width: 768px) {
	/* Global */
	.image_full {
		display: none;
	}
	.image_mobile {
		display: block;
	}
	/* Featured news container */
	#featured-news {
		flex-direction: column;
		gap: 0;
	}

	#headline-container {
		max-width: 100%;
	}

	#headline-article {
		flex-direction: column;
	}

	#headline-content {
		margin-bottom: 20px;
	}

	#news-container {
		max-width: 100%;
		padding: 0;
		margin-top: 50px;
	}

	#news-container > * {
		margin-left: 20px;
		margin-right: 20px;
	}

	#feeds-container {
		min-height: 400px;
	}

	#trend-container {
		flex-direction: column;
		margin: 0 auto;
		gap: 30px;
	}

	.trend-feed {
		width: 100%;
	}
}